.app-section--big-community{
    height: 100%;
  }
  
  .app-community{
    width: 1100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }
  
  
  .app-community--avatar{
    margin-top: 30px;
    padding: 10px 2px;
    display: inline-block;
    justify-content: space-around;
    width : 315px;
  }
  
  .app-community--avatar:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

  .visibility {
    width: 100%;
  }

  .app-section__button--visibility {
    float: right;
  }