h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Oswald', sans-serif;
}

#app-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.app-title {
  font-size: 3.25rem;
  line-height: 3.20rem;
  text-align: center;
}

.app-subtitle {
  font-size: 1.50rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif, Arial;
}

.app-section__button {
  background-color: #55C2D8;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}


.app-section__button--read-more {
  border-radius: 26px;
  font-size: 14px;
  height: 46px;
  letter-spacing: 1.2px;
  margin: 60px auto 108px;
  text-transform: uppercase;
  width: 135px;
}

.app-section--join-our-program {
  background: url(../assets/photo.png) no-repeat left;
  height: 436px;
  max-width: 100%;
  color: white;
}

.app-section--join-our-program .app-title {
  padding-top: 87px;
  margin: 0;
}
.app-section--join-our-program .app-subtitle {
  padding-top: 63px;
  margin: 0;
}
.app-section--join-our-program .app-input {
  color: white;
  padding-left: 20px;
  border: none;
  width: 400px;
  height: 36px;
  margin-top: 63px;
  margin-left: 127px;
  background: rgba(255, 255, 255, 0.15);
}
.app-section--join-our-program .app-section__button {
  height: 36px;
  width: 251px;
  margin-left: 29px;
}

::placeholder {
  color: white;
}






@media only screen and (max-width: 768px) {

  .app-section__button--read-more {
    margin: 24px auto 48px;
  }

  .app-section--join-our-program .app-input {
    margin: 0 5%;
    width: 90%;
  }
  .app-section .app-section__button {
    margin-left: 50%;
    transform: translate(-50%);
  }

  .app-section--join-our-program .app-subtitle {
    padding-top: 23px;
    padding-bottom: 55px
  }
}


